.subtitle {
  padding: 0 0 0.5rem 0;
}

.input {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0 1rem;
  color: #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  height: 3rem;
}

.input:focus {
  outline: 1px solid #0290ff;
  color: #0290ff;
  font-weight: 600;
}
